# Compose Fileの書き方のルール
# version: "3.8"

# 立ち上げるコンテナたちのリスト
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"   # ホスト側：コンテナ側
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml # EC2にあるFILE:コンテナ内部のパス
      - prometheus-data:/prometheus # dockerが管理する安全な倉庫に保管 -> 永続化
    command: 
      - '--config.file=/etc/prometheus/prometheus.yml' #起動コマンド
    networks:
      - monitoring-network
  # EC2サーバ(host)監視
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      # EC2のシステム情報をコンテナの中から「覗き見」するための設定
      - /proc:/host/proc:ro # host(EC2)の directory をコンテナの中の"/host/proc"にマウントする、roは read-only
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc'
      - '--path.procfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - monitoring-network
  # Dockerコンテナたちの監視 - 他のコンテナがどれだけリソースを使っているかを監視する
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      # Dockerやコンテナの情報を「覗き見」するための設定
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker.ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - monitoring-network
  # データを可視化するツール
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"           # host:container
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    depends_on:
      - prometheus
    volumes:
      # データの永続化(Dashboard)
      - grafana-data:/var/lib/grafana
      # 初期設定の自動化(Provisioning)
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
    networks:
      - monitoring-network
      
    


# コンテナ同士の通信ルール
networks:
  monitoring-network:
    driver: bridge

# データを永続化する保管庫
volumes:
  prometheus-data:
  grafana-data: